* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {  
    min-width: 100%;
    height: auto;
}

p {  
    line-height: 58px;
}

a { 
     text-decoration: none;
}

path {  
    transition: 1s;
}

section.banner { 
    display: flex;
    width: 100%;
    /* height: 100vh; */
}

section div.banner__contents {   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    margin-top: 100px;
    margin-left: 100px;
}

section div.banner__contents div.banner__contents--title {  
    margin-bottom: 4%;
}

section div.banner__contents div.banner__contents--title p{   
    font-size: 48px;
    color: #626262;
}
section div.banner__contents div.banner__contents--title p.bold-green{  
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    background-image: url("../assets/image 3.jpg");
    font-weight: 800;
}

section div.banner__contents > p {    
    font-size: 30px;
    padding: 0 70px 0 0;
    line-height: 38px;
    color: #626262;
}

section a {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 80px;
    margin-top: 7%;
    font-size: 32px;
    border-radius: 20px;
    background-color: #e79015;
    color: #fff;  
    
    transition: 1s;
}

section a:hover, section a:active {   
    background-color: #bbbbbb;
    color: #000000;
}
section a:hover path, section a:active path {   
    fill: #000000;
}

section a i svg {  
    margin-top: 10px;
    margin-right: 15px;
}

section div.banner__image { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
     width: 40%;
    height: 500px;
    margin-top: 95px;
    background-image: url("../assets/image\ 2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    animation: border-changer 8s ease-in-out infinite;
}

section div.banner__image img { 
    width: 320px;
}

/* ---------------------------¿Quienes somos?----------------------- */

section.main p {    
    margin-top: 5%;
}

section.main div.main__about {  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
}

section.main div.main__about img {  
    width: 50%;
    border-radius: 67% 33% 47% 53% / 50% 55% 45% 50% ;
    animation: border-changer 8s ease-in-out infinite;
}

section.main div.main__about div.main__about--column {  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
}

section.main div.main__about div.main__about--column p {    
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 15px;
    color: #626262;
}

section.main div.main__about div.main__about--column p.bold {   
    font-weight: 600;
}
/* -------------------------------boxs------------------------------- */

section.main {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10%;
}

section.main > p {    
    font-size: 50px;
    font-weight: 600;
    color: #08643F;
}

section.main div.line {  
    width: 500px;
    height: 4px;
    margin-top: 25px;
    background-color: #15997B;
}

section.main div.main__boxs {   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100vw;
    margin-top: 50px;
    gap: 5px;
}

section.main div.main__boxs article.main__boxs--contents {  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 500px;
    height: 335px;
    border-radius: 5px;
}
section.main div.main__boxs article.main__boxs--contents.img-1 {   
    background-image: url("../assets/image 8.jpg");
}
section.main div.main__boxs article.main__boxs--contents.img-2 {   
    background-image: url("../assets/image\ 9.jpg");
}
section.main div.main__boxs article.main__boxs--contents.img-3 {   
    background-image: url("../assets/image\ 10.png");
}
section.main div.main__boxs article.main__boxs--contents.img-4 {   
    background-image: url("../assets/image\ 11.jpg");
}
section.main div.main__boxs article.main__boxs--contents.img-5 {   
    background-image: url("../assets/image\ 12.jpg");
}
section.main div.main__boxs article.main__boxs--contents.img-6 {   
    background-image: url("../assets/image\ 13.jpg");
}

section.main div.main__boxs article.main__boxs--contents p {    
    font-size: 25px;
    margin: 35px 0 0 30px;
    padding-right: 135px;
    line-height: 40px;
    color: #fff;
}

section.main div.main__boxs article.main__boxs--contents a{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 35px;
    margin-top: 10px;
    margin-left: 24px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.44);
    color: #000000;
}

/* -------------------------------Footer--------------------------- */

footer {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    background-color: #15997B;
}

footer p {  
    font-size: 22px;
    line-height: 40px;
    color: #fff;
}

footer p a { 
    color: #ffcd87;
    font-weight: 800;
    text-decoration: underline;
}

/* -------------------------------media queries------------------------------- */

/* Dist width 1260px */

@media(max-width: 1260px) {  

    section.banner { 
        /* height: 65vh; */
    }

    section div.banner__contents div.banner__contents--title p {    
        font-size: 35px;
        line-height: 44px;
    }

    section div.banner__contents > p {  
        font-size: 22px;
        line-height: 30px;
    }
    
    section a {    
        font-size: 24px;
        width: 295px;
        height: 70px;
    }

    section div.banner__image {  
        height: 430px;   
        margin-top: 70px;
    }

    section div.banner__image img { 
        width: 280px;
    }

    section.main > p {   
        font-size: 45px;
    }

    section.main div.main__boxs article.main__boxs--contents {  
        width: 325px;
    }

    section.main div.main__boxs article.main__boxs--contents p {    
        font-size: 20px;
        line-height: 33px;
    }
}

/* Dist width 1024px */

@media(max-width: 1024px) { 

    section div.banner__image { 
        height: 320px;
    }

    section div.banner__image img { 
        width: 220px;
    }

    section.main div.main__about div.main__about--column p {    
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 0px;
    }

    
}

/* Dist width 900px */

@media(max-width: 900px) { 

    section.banner {   
        display: flex;
        flex-direction: column;
        align-items: center; 
        /* height: 90vh; */
    }

    section div.banner__contents {  
        align-items: center;
        text-align: center;
        margin-top: 55px;
        margin-left: 0;
        order: 2;
    }

    section div.banner__contents div.banner__contents--title p {    
        font-size: 30px;
        line-height: 44px;
    }

    section div.banner__contents > p {  
        font-size: 18px;
        padding: 0 45px;
        line-height: 28px;
    }

    section div.banner__contents a {    
        margin-top: 5%;
    }

    section div.banner__image { 
        margin-top: 80px;
        margin-left: 0;
    }

    section.main div.main__about {   
        width: 95%;
    }

    section.main div.main__about div.main__about--column p {    
        font-size: 18px;
        line-height: 28px;
    }
}


/* Dist width 425px */

@media(max-width: 425px) {  

    section div.banner__image { 
        width: 312px;
    }

    section div.banner__image img {     
        width: 195px;
    }

    section div.banner__contents div.banner__contents--title p {    
        width: 380px;
        font-size: 26px;
        line-height: 38px;
    }

    section div.banner__contents > p {
        width: 350px;  
        margin-top: 10px;
        padding: 0;
    }

    section div.banner__contents a {    
        margin-top: 15%;
    }

    a {  
        width: 300px;
        height: 70px;
        font-size: 28px;
    }

    section.main > p {  
        font-size: 35px;
    }

    section.main div.line{  
        width: 250px;
    }

    section.main div.main__about {  
        flex-direction: column;
    }

    section.main div.main__about img {  
        width: 80%;
    }

    section.main div.main__about div.main__about--column {  
        align-items: center;
        margin-left: 0;
        margin-inline: 10px;
    }

    section.main div.main__about div.main__about--column p{ 
        text-align: center;
    }

    footer p {  
        font-size: 18px;
        text-align: center;
    }

    footer p a{ 
        font-size: 20px;
    }

}

@keyframes border-changer { 
    0% {    
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {   
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100% {  
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}